In [ ]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

df_train = pd.read_csv('../../data/processed_train_data.csv')
df_eval = pd.read_csv('../../data/processed_eval_data.csv')
df_test = pd.read_csv('../../data/processed_test_data.csv')

In [5]:
df_train.head()

,resume_text,job_description_text,label
0,profilehighly motivated sale associate extensi...,company description nbc sport next sport techn...,2
1,summaryhighlymotivated employee desire take ne...,alten technology usa engineering company provi...,1
2,professional summaryhighly motivated sale asso...,reality lab meta building product make easier ...,2
3,summaryi seeking position wherein may use prov...,job description java developer lead software e...,1
4,profilehighly motivated sale associate extensi...,review analyzes evaluates business system user...,0

In [4]:
print("Resume Average Length: ",df_train['resume_text'].str.len().mean())
print("Job Description Average Length: ",df_train['job_description_text'].str.len().mean())
print("Test Set Average Length: ",df_test['resume_text'].str.len().mean())

Resume Average Length:  4783.693509615385
Job Description Average Length:  2136.385216346154
Test Set Average Length:  4657.118817509949